<%- include('../layout/user/header.ejs') -%>
<br>
<br>
<br>
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol>

           
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/multerImages/<%= product.images.image1 %>" data-zoom-image="/multerImages/<%= product.images.image1%>" alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" href="#" data-image="/multerImages/<%= product.images.image1 %>"  data-zoom-image="/multerImages/<%= product.images.image1%>">
                                        <img src="/multerImages/<%= product.images.image1 %>" alt="product side">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="/multerImages/<%= product.images.image2%>"  data-zoom-image="assets/images/products/single/2-big.jpg">
                                        <img src="/multerImages/<%= product.images.image2 %>" alt="product cross">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="/multerImages/<%= product.images.image3%>" data-zoom-image="assets/images/products/single/3-big.jpg">
                                        <img src="/multerImages/<%= product.images.image3 %>" alt="product with model">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="/multerImages/<%= product.images.image4%>" data-zoom-image="assets/images/products/single/4-big.jpg">
                                        <img  src="/multerImages/<%= product.images.image4 %>" alt="product back">
                                    </a>
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title"> <%= product.name %></h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                ₹<%= product.price %>
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>  <%= product.description %></p>
                            </div><!-- End .product-content -->

                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>

                                <div class="details-action-wrapper">
                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                 
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                

                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->


           
</main><!-- End .main -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/magnify@2.5.0/dist/js/jquery.magnify.js"></script>



   <script>
        // image zoom
 



       // image view

    $(document).ready(function () {
       
        $(".product-gallery-item").on("click", function (e) {
            e.preventDefault();

           
            var imageUrl = $(this).data("image");
            var zoomImageUrl = $(this).data("zoom-image");

            
            $("#product-zoom").attr("src", imageUrl).attr("data-zoom-image", zoomImageUrl);


            $(".product-gallery-item").removeClass("active");
            $(this).addClass("active");
        });
    });

  
</script>

<%- include('../layout/user/footer.ejs') -%>

